{{ define "title" }}<title>Scala-Gazelle: {{ .Jar.Name }}</title>{{ end }}

{{ define "sidebar" }}
{{ end }}

{{ define "body" }}
    {{ with .Jar }}
        {{ template "statelabel" dict "State" "merged" "Label" "Jar"  }}
        {{ template "subhead" dict "Title" .Label }}
    {{ end }}
{{ end }}
