{{ define "title" }}<title>Scala-Gazelle: {{ .Rule.Name }}</title>{{ end }}

{{ define "sidebar" }}
{{ end }}

{{ define "body" }}
    {{ with .Rule }}
        {{ template "statelabel" dict "State" "open" "Label" "Rule"  }}
        {{ template "subhead" dict "Title" .Label }}

        {{/* {{ with .Srcs }}
            {{ template "subhead" "Srcs" }}
            {{ template "filelist" . }}
        {{ end }} */}}

    {{ end }}
{{ end }}
